@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container" id="Register_main_body">
    <div class="row">

        <div class="col-md-6" id="Register_page_section_2">
            <div class="row">
                <h2>Add Product</h2>
            </div>
             <div class="row">
                <form method="post" action="Upload_product" id="Register_form">
                    <div class="form-group">
                        <input type="text" name="product_name" class="form-control" id="inputname1" placeholder="Enter Product Name" />
                    </div>
                    <div class="form-group">
                        <input type="text" name="product_des" class="form-control" id="inputemail1" placeholder="Enter Product Description" />
                    </div>
                        <label for="formFileSm" class="form-label">Upload Product Picture</label>
                    <input class="form-control form-control-sm" name="product_img" id="formFileSm" type="file" />
                    
                    <button type="submit" class="btn btn-primary" id="Register_button">Upload Product</button>

                </form>
            </div>
        </div>

        <div class="col-md-6">
            <img src="/images/Login/login.jpg" alt="Register Page Image" id="Register_page" />
        </div>

    </div>
</div>