<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodForThrought</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodForThrought.styles.css" asp-append-version="true" />
   
    @* Javascript and Bootstrap Link's' *@

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    @* Icon Link *@
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css'>

    <!-- Bootstrap App css -->
     <link rel="stylesheet" href="~/Bootstrap File/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bootstrap File/icons.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bootstrap File/theme.min.css" asp-append-version="true" />
   

</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-default fixed-top">
            <div class="container">

                <a class="nav-link text-dark" asp-controller="Home" asp-action="Home"><img src="/images/Logo/LOGO.png" alt="Logo"  id="logo"> </a>
                
                <ul class="navbar-nav ml-auto mb-2" id="desktop_Menu">
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Catalogue">Catalogue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Get In Touch</a>
                    </li>


                    @* Register Icon and Pages *@
                    <div class="dropdown">
                        <button class="btn dropdown-toggle nav-item" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Sign Up</a>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Sign In</a>
                        </div>
                    </div>
                 </ul>


                 @************   Mobile Menu   **************

                <ul class="navbar-nav ml-auto mb-2" id="Mobile-menu-mobile">

                    <div class="sidenav" id="Open_side_bar_menu">
                        <i class="fa fa-close" onclick="ClosesideBar()"></i>

                        <div class="container" id="side_bar_body">
                            <h2 id="side_bar_heading">Food For Thought</h2>
                            <p id="side_bar_subheading">
                                Food for thought is here to help you choose the best food for you. It detects your emotions and minimizes the appropriate food for you that is the best for your with the help of questions.
                            </p>
                        </div>

                        <div class="container" style="text-align: center;" id="side_bar_body">
                            <h3 id="side_bar_heading">Download App Now</h3>
                            <a href="#"><img id="app_images" src="/images/Logo/Android_App.png" alt="Android App Icon"></a>
                            <a href="#"><img id="app_images" src="/images/Logo/App.png" alt="IOS App Icon"></a>
                        </div>


                        <div class="container" id="side_bar_body">
                            <h3 id="side_bar_contactus_heading">Contact Us</h3>
                            <ul>
                                <a><i class="fas fa-phone-square-alt"></i>+92 344 4888 271</a>
                                <br />
                                <a><i class="fas fa-mail-bulk"></i>contact@foodforthought.com</a>
                                <br />
                                <a><i class="fas fa-address-card"></i>University Of Sialkot, Pakistan</a>
                            </ul>
                        </div>

                    </div>

                    <i class="fas fa-align-justify" id="mobile_menu_Icon" onclick="OpensideBar()"></i>
                </ul>


                *@

                <ul class="navbar-nav ml-auto mb-2" id="open-sidebar">
                    
                    <div class="sidenav" id="Open_side_bar_menu">
                        <i class="fa fa-close" onclick="ClosesideBar()"></i>

                        <div class="container" id="side_bar_body">
                            <h2 id="side_bar_heading">Food For Thought</h2>
                            <p id="side_bar_subheading">
                                Food for thought is here to help you choose the best food for you. It detects your emotions and minimizes the appropriate food for you that is the best for your with the help of questions.
                            </p>
                        </div>

                        <div class="container" style="text-align: center;" id="side_bar_body">
                            <h3 id="side_bar_heading"  >Download App Now</h3>
                            <a href="#"><img id="app_images" src="/images/Logo/Android_App.png" alt="Android App Icon"></a>
                            <a href="#"><img id="app_images" src="/images/Logo/App.png" alt="IOS App Icon"></a>
                        </div> 
                        
                        
                        <div class="container" id="side_bar_body">
                            <h3 id="side_bar_contactus_heading">Contact Us</h3>
                           <ul>
                                <a><i class="fas fa-phone-square-alt"></i>+92 344 4888 271</a>
                                <br/>
                                <a><i class="fas fa-mail-bulk"></i>contact@foodforthought.com</a>
                                <br />
                                <a><i class="fas fa-address-card"></i>University Of Sialkot, Pakistan</a>
                           </ul>
                        </div>

                    </div>

                    <i class="fas fa-align-justify" id="info_side_bar" onclick="OpensideBar()"></i>
                </ul>



            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-dark text-white pt-5 pb-4">
        <div class="container-fluid text-md-left">
            <div class="row text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning" id="heading_footer">Food For Thought</h5>
                    <p id="subtext_footer">Designed and built with all the love in the world by the Bootstrap team with the help of our contributors.</p>
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning" id="heading_footer">Download The App Now</h5>
                    <div class="download_app">
                        <div class="row">
                            <div class="col-6">
                            <a href="#"><img src="/images/Catalogue/an_download_app.png" width="100%"></a>
                            </div>
                            <div class="col-6">
                            <a href="#"><img src="/images/Catalogue/download_app.png" width="100%"></a>
                            </div>
                        </div>
                </div>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning" id="heading_footer">Useful Links</h5>
                    <p id="subtext_footer">
                        <a href="#" class="text-white" style="text-decoration: none;">Home</a>
                    </p>
                     <p id="subtext_footer">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Catalogue">Catalogue</a>
                    </p>
                    <p id="subtext_footer">
                        <a href="#" class="text-white" style="text-decoration: none;">Contact</a>
                    </p>
                    <p id="subtext_footer">
                        <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                    </p>
                    <p id="subtext_footer">
                        <a href="#" class="text-white" style="text-decoration: none;">My Acount</a>
                    </p>
                </div>

                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning" id="heading_footer">News Letter</h5>
                    
                    <form >
                        <div class="form-group">
                           <input style="padding: 7px;" type="email" class="form-control1" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                          </div>
                          <input id="newsletter_button" type="submit" class="btn btn-primary text-center" style="margin-top: 10px;">
                    </form>
                    <ul class="list-unstyled list-inline" style="margin-top: 30px;">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>


                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h5 class="text-uppercase mb-4 font-weight-bold text-warning" id="heading_footer">Contact us</h5>
                    <p id="subtext_footer">
                        <i id="footer_icon" class="fas fa-home mr-3"></i> University Of Sialkot
                    </p>
                    <p id="subtext_footer">
                        <i id="footer_icon" class="fas fa-envelope mr-3"></i> Contact@Foodforthoght
                    </p>
                    <p id="subtext_footer">
                        <i id="footer_icon" class="fas fa-phone mr-3"></i> +923045879645
                    </p>
                    <p id="subtext_footer">
                        <i id="footer_icon" class="fas fa-print mr-3"></i> +923458796521
                    </p>
                </div>

            </div>

            <hr class="mb-4">
            <div class="row align-items-center text-center">
                <p>
                    Copyright 2023 All Rights Reserved By:
                    <a href="#" style="text-decoration: none;">
                    <strong class="text-warning">Food For Thought</strong></a>
                </p>
            </div>

            <button onclick="topFunction()" id="myBtn"><i class="fa fa-angle-up"></i></button>
        </div>
    </footer>

    

@*Pop Up Aleart*@




@if (TempData["confirm"] != null)
{

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var myModal = new bootstrap.Modal(document.getElementById('myModal'))
            myModal.show();
        });
    </script>

}

<!-- Modal HTML -->
<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alert</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p style="font-family: Poppins; font-size: 16px; color: #000000;">@TempData["confirm"]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>




    <!-- jQuery  -->
    <script src="/js/jquery.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="/js/metismenu.min.js"></script>
    <script src="~/js/metismenu.min.js"></script>

    <!-- App js -->
    <script src="/js/theme.js"></script>
    <script src="~/js/theme.js"></script>

    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.smoove.js" asp-append-version="true"></script>
    <script src="/js/jquery.smoove.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
