

 <!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a asp-controller="Home" asp-action="Home" class="logo" >
                <img id="vertical_logo" src="/images/Logo/LOGO.png" />
            </a>
        </div>

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">Menu</li>

                <li>
                    <a class="nav-link " asp-area="" asp-controller="Admin" asp-action="AdminDeshboard"></i><span>Dashboard</span></a>
                </li>

                <li>
                    <a href="#" class="has-arrow waves-effect"><i class="fas fa-user"></i><span>User</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a class="nav-link " asp-area="" asp-controller="RegisterUser" asp-action="AddRegisterUser">Add User</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="RegisterUser" asp-action="SearchandUpdateRegisterUser">Search and Update User</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="RegisterUser" asp-action="DeleteRegisterUser">Delete User</a>
                        <li><a class="nav-link " asp-area="" asp-controller="RegisterUser" asp-action="ViewAllRegisterUser">View All User</a>
                    </ul>
                </li>

                <li>
                    <a href="#" class="has-arrow waves-effect"><i class="fas fa-folder-open"></i><span>Product</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a class="nav-link " asp-area="" asp-controller="Product" asp-action="AddProduct">Add Product</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Product" asp-action="SearchandUpdateProduct">Search And Update Product</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Product" asp-action="DeleteProduct">Delete Product</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Product" asp-action="ViewAllProduct">View All Product</a></li>
                    </ul>
                </li>


                <li>
                    <a href="#" class="has-arrow waves-effect"><i class="fas fa-question"></i><span>Question</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a class="nav-link " asp-area="" asp-controller="Question" asp-action="AddQuestion">Add Question</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Question" asp-action="SearchandUpdateQuestion">Search and Update Question</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Question" asp-action="DeleteQuestion">Delete Question</a>
                        <li><a class="nav-link " asp-area="" asp-controller="Question" asp-action="ViewAllQuestion">View All Question</a>
                    </ul>
                </li>

                <li>
                    <a href="#" class="has-arrow waves-effect"><i class="fas fa-envelope"></i><span>News Letter</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a class="nav-link " asp-area="" asp-controller="Product" asp-action="ViewAllProduct">View News Letter</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Product" asp-action="DeleteProduct">Delete News Letter</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="has-arrow waves-effect"><i class="fas fa-message"></i><span>Messege</span></a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a class="nav-link " asp-area="" asp-controller="Message" asp-action="ViewAllMessage">View Messege</a></li>
                        <li><a class="nav-link " asp-area="" asp-controller="Message" asp-action="DeleteMessage">Delete Messege</a></li>
                    </ul>
                </li>



                <li class="menu-title">More</li>


                <li><a href="calendar.html" class=" waves-effect"><i class="fas fa-user"></i><span>Profile</span></a></li>

                <li><a class="nav-link " asp-area="" asp-controller="Admin" asp-action="AdminLogOut"><i class="fas fa-lock"></i><span>Logout</span></a></li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->

<header id="page-topbar">
    <div class="navbar-header">

        <div class="d-flex align-items-left">
            <button type="button" class="btn btn-sm mr-2 d-lg-none px-3 font-size-16 header-item waves-effect"
                    id="vertical-menu-btn">
                <i class="fa fa-fw fa-bars"></i>
            </button>
        </div>

        <div class="d-flex align-items-center">
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg"
                         alt="Header Avatar">
                    <span class="d-none d-sm-inline-block ml-1">Daod J.</span>
                    <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item d-flex align-items-center justify-content-between"
                       href="javascript:void(0)">
                        <span>Profile</span>
                        <span>
                            <span class="badge badge-pill badge-soft-danger">1</span>
                        </span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center justify-content-between"
                       href="javascript:void(0)">
                        <span>Log Out</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>
