@model IEnumerable<FoodForThrought.Models.ContactUsForm>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".header").hide();
            $("#footer").hide();
        });
    </script>
}


<!-- Begin page -->
<div id="layout-wrapper">

    @Html.Partial("_VerticalMenu")
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">Delete Message</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Food For Thought</a></li>
                                    <li class="breadcrumb-item active">Delete Message</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- Search Product -->

                <div class="row">

                    <div class="col-lg-12">
                        <div class="card card-animate">
                            <div class="card-body">
                                <div id="morris-line-example" class="morris-chart" style="height: 320px;">

                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Username</th>
                                                        <th>Email</th>
                                                        <th>Message</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var messege in Model)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => messege.user_name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => messege.user_email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => messege.user_message)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <!-- end row-->

                </div> <!-- container-fluid -->
                <!-- Update Form -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card card-animate">
                            <div class="card-body">
                                <h4 class="card-title d-inline-block">Delete Message</h4>

                                <div id="morris-line-example" class="morris-chart" style="height: 320px;">

                                    <form method="post" action="Deleting_Message" id="Register_form" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input type="email" name="old_user_email" class="form-control" id="inputname1" placeholder="Enter User Email" />
                                        </div>

                                        <button type="submit" class="btn btn-primary" id="Register_button" style="margin-top: 15px;">Delete Message</button>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                    <!-- end row-->

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->
    <!-- Overlay-->
    <div class="menu-overlay"></div>
</div>