@{
    ViewData["Title"] = "Privacy Policy";
}



@* COntact us page Banner*@

<!-- The video -->
<video autoplay muted loop id="myVideoAboutus">
    <source src="/Video/About us video.mp4" type="video/mp4">
</video>

@* how to use section *@

<div id="how_to_use">
    <h1 id="how_to_use_heading">How to Use This Feature</h1>

    <div class="row">
        <div class="col-md-4 col-sm-6" style="padding: 50px">
            <div class="row">
            <div class="col-sm">
                    <h4 id="headeing_under_use">Extensive Documentation</h4>
                    <p id="phara_under_use">Lorem ipsum dolor sit amet, conset etur sadip scing elitr, sed diam no numy eirmod tempor invidunt ut labore et dolore magna stet clita.</p>
            </div>
            </div>

             <div class="row">
            <div class="col-sm">
                    <h4 id="headeing_under_use">Extensive Documentation</h4>
                    <p id="phara_under_use">Lorem ipsum dolor sit amet, conset etur sadip scing elitr, sed diam no numy eirmod tempor invidunt ut labore et dolore magna stet clita.</p>
            </div>
            </div>
            
        </div>
        <div class="col-md-4 col-sm-6 text-center">
           <img src="/images/About/how to use image.png" href="#"/>
        </div>
        <div class="col-md-4 col-sm-6" style="padding: 50px">

            <div class="row">
                <div class="col-sm">
                    <h4 id="headeing_under_use">Extensive Documentation</h4>
                    <p id="phara_under_use">Lorem ipsum dolor sit amet, conset etur sadip scing elitr, sed diam no numy eirmod tempor invidunt ut labore et dolore magna stet clita.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm">
                    <h4 id="headeing_under_use">Extensive Documentation</h4>
                    <p id="phara_under_use">Lorem ipsum dolor sit amet, conset etur sadip scing elitr, sed diam no numy eirmod tempor invidunt ut labore et dolore magna stet clita.</p>
                </div>
            </div>
        </div>
    </div>
</div>



@*Inner section of how to use*@


<div class="fixed_background_image_about_page">
    <div class="container" id="fixed_background_image_about_page_contact">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="counter">
                    <div class="counter-content">
                        <div class="counter-icon">
                            <i class="fa fa-face"></i>
                        </div>
                        <h3>Emotion Detect</h3>
                        <span class="counter-value">100+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="counter orange">
                    <div class="counter-content">
                        <div class="counter-icon">
                            <i class="fa fa-eye"></i>
                        </div>
                        <h3>Total Visit</h3>
                        <span class="counter-value">200+</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="counter orange">
                    <div class="counter-content">
                        <div class="counter-icon">
                            <i class="fa fa-user"></i>
                        </div>
                        <h3>Total Account</h3>
                        <span class="counter-value">150+</span>
                    </div>
                </div>
            </div>
        </div>

</div>
</div>



@*Testimonials*@


<!-- TESTIMONIALS -->
<section class="testimonials" id="testimonials">
    <div class="container">

        <div id="customers-testimonials" class="owl-carousel">
            <h1 class="text-md-center text-black" id="user_say">What User Say</h1>

        <div class="row">

                    <div class="item col-sm-4">
                        <div class="shadow-effect">
                            <img class="img-circle" src="/images/About/testimonials1.png" alt="">
                            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
                        </div>
                        <div class="testimonial-name">EMILIANO AQUILANI</div>
                    </div>
                    <div class="item col-sm-4">
                        <div class="shadow-effect">
                        <img class="img-circle" src="/images/About/testimonials2.png" alt="">
                            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
                        </div>
                        <div class="testimonial-name">ANNA ITURBE</div>
                    </div>
                     <div class="item col-sm-4">
                        <div class="shadow-effect">
                        <img class="img-circle" src="/images/About/testimonials3.png" alt="">
                            <p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate.</p>
                        </div>
                        <div class="testimonial-name">LARA ATKINSON</div>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- END OF TESTIMONIALS -->


@*Our Special Team*@

    <div class="container-fluid" id="Special_Team_main">
        <h1 class="text-md-center text-white" id="Special_Team_heading">Our Team</h1>

    <div class="row">
        <div class="col-md-3 col-sm-6">
        </div>


        <div class="col-md-3 col-sm-6" id="team_daod">
            <div class="our-team">
                <div class="pic">
                    <img src="/images/About/Team/Daod.jpg" alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <h3 class="title">Daod Javaid</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-6" id="team_daod">
            <div class="our-team">
                <div class="pic">
                    <img src="/images/About/Team/zaid.jpg" alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <h3 class="title">Ziad Tariq</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-3 col-sm-6">
        </div>
    </div>
</div>
