@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}





@* catalouge us page Banner*@



<header class="masthead">
  <div class="container h-100">
    
  </div>
</header>



<div class="wrapper">
    <section id="shop3Columns" class="shop shop-grid shop-grid-3col pb-90">
        <div class="container">
            <div class="row filtered-items-wrap">
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/1.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a asp-controller="Home" asp-action="Single_catalouge">T-Shirt With a Print</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/1.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">T-Shirt With a Print</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/1.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">T-Shirt With a Print</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/1.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">T-Shirt With a Print</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/1.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">T-Shirt With a Print</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/1.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">T-Shirt With a Print</a></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="next_page">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <nav class="pagination-area">
                        <ul class="pagination justify-content-center">
                            <li><a class="current" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>


