@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var limitproduct = Model.Take(3);
}

@* catalouge us page Banner*@
@model IEnumerable<FoodForThrought.Models.AddingProductModel>


<header class="masthead"></header>

<div class="wrapper">
    <section id="shop3Columns" class="shop shop-grid shop-grid-3col pb-90">
        <div class="container">
            <div class="row filtered-items-wrap">

                @foreach(var items in Model)
                {
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                                <img src="@Url.Content("~/images/Product_image/" + items.product_image_name)" alt="Eggs – with yolk">
                            <div class="product__hover">
                                <div class="product__action">
                                        <a asp-controller="Home" asp-action="Detectemotion" class="btn btn__primary btn__hover2">Detect Emotion</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                                <h4 class="product__title"><a asp-controller="Home" asp-action="Single_catalouge">@Html.DisplayFor(modelItem => items.product_title)</a></h4>
                        </div>
                    </div>
                </div>
                }

               @* <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/Product image/Nuts and seeds.jpg" alt="Nuts and seeds">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Detect Emotion</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">Nuts and seeds</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/Product image/Grains.jpg" alt="Grains">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Detect Emotion</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">Grains</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/Product image/dairy products.jpg" alt="Grains">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Detect Emotion</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">Dairy Products</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/Product image/Bananas.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Detect Emotion</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">Bananas</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                    <div class="product-item">
                        <div class="product__img">
                            <img src="/images/Catalogue/Product image/Icecream.jpg" alt="Product">
                            <div class="product__hover">
                                <div class="product__action">
                                    <a href="#" class="btn btn__primary btn__hover2">Detect Emotion</a>
                                </div>
                            </div>
                        </div>
                        <div class="product__content">
                            <h4 class="product__title"><a href="#">Icecream</a></h4>
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="row" id="next_page">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <nav class="pagination-area">
                        <ul class="pagination justify-content-center">
                            <li><a class="current" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</div>


