@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



 @* COntact us page Banner*@


<header class="contact_us_page_banner"></header>

    <div class="section2">
        <div class="row">
            <div class="col-md-6" id="inner_section2">
                <div class="heading_section_left">
                    <h2 id="heading_section_left_first">
                        Fast Support Team
                    </h2>
                    <p>
                        Etiam convallis, felis quis dapibus dictum, libero mauris luctus nunc, non fringilla purus
                        ligula non justo. Non fringilla purus.
                    </p>
                </div>
                <div class="heading_section_left_inner">
                    <h4>New York</h4>
                    <p>198 West 21th Street, Suite 721 Barselona 20020</p>
                    <p>Email: superfood@example.com</p>
                    <p>Phone:+88(0) 101 0000 000</p>

                </div>
            </div>
            <div class="col-md-6" id="inner_section2">
                <div class="heading_section_right">
                    <form action="#">
                        <div class="form-group">
                            <input type="text" class="form-control" id="inputname1" placeholder="Enter Your Name" />
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="inputemail1" placeholder="Enter Your Email" />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="inputTextarea1" placeholder="Enter Your Messege"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" id="contant_button">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section3">
        <iframe class="section3" src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>

