@model ContactUsForm


@{
    // This is Confirmation on contact us Form
    var checkmail = TempData["Check"] as string;

}


@* COntact us page Banner*@

<header class="contact_us_page_banner"></header>

    <div class="section2">
        <div class="row">
            <div class="col-md-6" id="inner_section2">
                <div class="heading_section_left">
                    <h2 id="heading_section_left_first">
                        Fast Support Team
                    </h2>
                <p id="heading_section_left_first_bottom">
                    We understand the importance of timely and effective resolution of your queries. Our team is committed to providing you with the best possible support and we will do everything in our power to solve your concerns as quickly as possible.
                    </p>
                </div>
                <div class="heading_section_left_inner">
                <h4 id="heading_section_left_first">Personal Info</h4>
                <p id="heading_section_left_first_bottom">
                University Of Sialkot, Pakistan    
                </p>
                <p id="heading_section_left_first_bottom">Email: contact@foodforthought.com</p>
                <p id="heading_section_left_first_bottom">Phone:+92 344 4888 271</p>

                </div>
            </div>
            <div class="col-md-6" id="inner_section2">
                <div class="heading_section_right">
                <form method="post" action="Contact_us_form">
                        <div class="form-group">
                            <input type="text" name="user_name" class="form-control" id="inputname1" placeholder="Enter Your Name" />
                        </div>
                        <div class="form-group">
                        <input type="email" name="user_email" class="form-control" id="inputemail1" placeholder="Enter Your Email" />
                        </div>
                        <div class="form-group">
                        <textarea type="text" class="form-control" name="user_message" id="inputTextarea1" placeholder="Enter Your Messege"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary" id="contant_button">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="section3">
        <iframe class="section3" src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>

