
<div class="container-fluid" id="Home_banner">
    <div class="row">
        <div class="col-12">
            <div id="mycarousel" class="carousel slide" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mycarousel" data-slide-to="1"></li>
                    <li data-target="#mycarousel" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/Home/banner 1.jpg" class="d-block w-100" alt="first banner" />
                    </div>

                    <div class="carousel-item">
                        <img src="/images/Home/banner 2.jpg" class="d-block w-100" alt="Second banner" />
                    </div>

                    <div class="carousel-item">
                        <img src="/images/Home/banner 3.jpg" class="d-block w-100" alt="Third banner" />
                    </div>

                    <a href="#mycarousel" class="carousel-control-prev" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>

                    <a href="#mycarousel" class="carousel-control-next" data-slide="prev">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" id="second_home_section">

    <section class="pt-0_section2">
        <section id="bannerLayout1" class="banner banner-layout1 pb-70">
            <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="banner__content">
                            <div class="banner__content-text block" data-aos="fade-right">
                            <div class="banner__content-text-inner">
                                <div class="heading">
                                    <span class="heading__subtitle__title">Hello Dear</span>
                                        <h2 class="heading__title__heading animate__backInRight">Welcome To Food For Thought</h2>
                                    <div class="heading__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                            <path d="M515,925a10,10,0,1,0,10,10A10.011,10.011,0,0,0,515,925Zm7,13.865a2.568,2.568,0,0,1-.651-0.549,3.235,3.235,0,0,0-5.209,0,1.449,1.449,0,0,1-1.146.683,1.419,1.419,0,0,1-1.2-.695,3.2,3.2,0,0,0-2.548-1.3,3.345,3.345,0,0,0-2.605,1.316,2.625,2.625,0,0,1-.64.544,7.953,7.953,0,0,1-.928-2.86h15.862A7.926,7.926,0,0,1,522,938.863ZM507.069,934a7.948,7.948,0,0,1,.928-2.859,2.617,2.617,0,0,1,.64.543A3.345,3.345,0,0,0,511.242,933a3.2,3.2,0,0,0,2.548-1.3,1.423,1.423,0,0,1,1.2-.7,1.452,1.452,0,0,1,1.146.685,3.237,3.237,0,0,0,5.209,0,2.575,2.575,0,0,1,.651-0.55,7.939,7.939,0,0,1,.932,2.865H507.069ZM515,927a7.975,7.975,0,0,1,5.8,2.509,5.325,5.325,0,0,0-.914.806,1.3,1.3,0,0,1-2.292,0,3.287,3.287,0,0,0-5.289.035,1.286,1.286,0,0,1-1.066.648,1.452,1.452,0,0,1-1.145-.683,5.348,5.348,0,0,0-.9-0.8A7.972,7.972,0,0,1,515,927Zm0,16a7.97,7.97,0,0,1-5.808-2.516,5.3,5.3,0,0,0,.9-0.8,1.452,1.452,0,0,1,1.145-.685,1.288,1.288,0,0,1,1.066.649,3.288,3.288,0,0,0,5.289.036,1.3,1.3,0,0,1,2.292,0,5.241,5.241,0,0,0,.914.806A7.972,7.972,0,0,1,515,943Z"
                                                  transform="translate(-505 -925)"></path>
                                        </svg>
                                    </div>
                                    <p class="heading__desc_title">
                                            Food for thought is here to help you choose the best food for you. It detects your emotions and minimizes the appropriate food for you that is the best for your with the help of questions.
                                    </p>
                                    <div id="signature">
                                    <img src="/images/About/signature1.png" alt="signature" id="sinature_image">
                                   </div>
                                </div>
                            </div>
                        </div>
                            <div class="banner__content-img block" data-aos="fade-left">
                            <img src="/images/Home/section 1.png" alt="banner" id="two_images_banner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



<div class="wrapper">
    <div class="col-12 text-center">
        <h1 id="title_home_3section">Catalogue</h1>
    </div>
    <section id="shop3Columns" class="shop shop-grid shop-grid-3col pb-90">
        <div class="container">
            <div class="row filtered-items-wrap">
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                        <div class="product-item">
                            <div class="product__img">
                                <img src="/images/Catalogue/Product image/Icecream.jpg" alt="Product">
                                <div class="product__hover">
                                    <div class="product__action">
                                        <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__content">
                                <h4 class="product__title"><a href="#">Icecream</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                        <div class="product-item">
                            <div class="product__img">
                                <img src="/images/Catalogue/Product image/Grains.jpg" alt="Grains">
                                <div class="product__hover">
                                    <div class="product__action">
                                        <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__content">
                                <h4 class="product__title"><a href="#">Grains</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 mix filter-soup">
                        <div class="product-item">
                            <div class="product__img">
                                <img src="/images/Catalogue/Product image/Nuts and seeds.jpg" alt="Nuts and seeds">
                                <div class="product__hover">
                                    <div class="product__action">
                                        <a href="#" class="btn btn__primary btn__hover2">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product__content">
                                <h4 class="product__title"><a href="#">Nuts and seeds</a></h4>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>



<section class="pt-0_section2">
    <section id="bannerLayout1" class="banner banner-layout1 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="banner__content">
                        <div class="banner__content-text" data-aos="fade-right">
                            <div class="banner__content-text-inner">
                                <div class="heading">
                                        <span class="heading__subtitle__title">Hello Dear</span>
                                        <h2 class="heading__title__heading">How Emotion Effect Choice Of Food</h2>
                                    <div class="heading__icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                            <path d="M515,925a10,10,0,1,0,10,10A10.011,10.011,0,0,0,515,925Zm7,13.865a2.568,2.568,0,0,1-.651-0.549,3.235,3.235,0,0,0-5.209,0,1.449,1.449,0,0,1-1.146.683,1.419,1.419,0,0,1-1.2-.695,3.2,3.2,0,0,0-2.548-1.3,3.345,3.345,0,0,0-2.605,1.316,2.625,2.625,0,0,1-.64.544,7.953,7.953,0,0,1-.928-2.86h15.862A7.926,7.926,0,0,1,522,938.863ZM507.069,934a7.948,7.948,0,0,1,.928-2.859,2.617,2.617,0,0,1,.64.543A3.345,3.345,0,0,0,511.242,933a3.2,3.2,0,0,0,2.548-1.3,1.423,1.423,0,0,1,1.2-.7,1.452,1.452,0,0,1,1.146.685,3.237,3.237,0,0,0,5.209,0,2.575,2.575,0,0,1,.651-0.55,7.939,7.939,0,0,1,.932,2.865H507.069ZM515,927a7.975,7.975,0,0,1,5.8,2.509,5.325,5.325,0,0,0-.914.806,1.3,1.3,0,0,1-2.292,0,3.287,3.287,0,0,0-5.289.035,1.286,1.286,0,0,1-1.066.648,1.452,1.452,0,0,1-1.145-.683,5.348,5.348,0,0,0-.9-0.8A7.972,7.972,0,0,1,515,927Zm0,16a7.97,7.97,0,0,1-5.808-2.516,5.3,5.3,0,0,0,.9-0.8,1.452,1.452,0,0,1,1.145-.685,1.288,1.288,0,0,1,1.066.649,3.288,3.288,0,0,0,5.289.036,1.3,1.3,0,0,1,2.292,0,5.241,5.241,0,0,0,.914.806A7.972,7.972,0,0,1,515,943Z"
                                                  transform="translate(-505 -925)"></path>
                                        </svg>
                                    </div>
                                        <p class="heading__desc_title">
                                            Emotions are the representation of what you are currently feeling. Different emotions give rise to different cravings and different foods have varied affect on what you are feeling.
                                        </p>
                                    <img src="assets/images/about/signature.png" alt="signature">
                                </div>
                            </div>
                        </div>
                        <div class="banner__content-img" data-aos="fade-left">
                            <video class="w-100" autoplay loop muted>
                                <source src="/images/Home/Face - 69951.mp4" type="video/mp4" />
                            </video>
                        </div>
                        </div>
                        </div>
                        </div>
            </div>
        </section>
    </section>


 <section id="bannerLayout1" class="banner banner-layout1 pb-70">
        <div class="container-fluid">

        <video id="videoBG" autoplay muted loop>
            <source src="/images/Home/Face - 69951.mp4" type="video/mp4">
        </video>

    </div>
</section>


@*TESTIMONIALS *@
<section class="testimonials" id="testimonials">
    <div class="container">
        <div id="customers-testimonials" class="owl-carousel">
            <h1 class="text-md-center text-black" id="user_say">What User Say</h1>
            <div class="row">

            <div class="row">
                <div class="item col-sm-4">
                    <div class="shadow-effect">
                        <img class="img-circle" src="/images/About/testimonials1.png" alt="">
                        <p id="testimonial-name-messege">
                            I absolutely love the design and structure of this website! The layout is so clean and user-friendly, making it easy to navigate and find what I'm looking for. The visuals are stunning and the overall aesthetic is just beautiful. 10/10 would recommend!
                        </p>
                    </div>
                    <div class="testimonial-name">EMILIANO AQUILANI</div>
                </div>
                <div class="item col-sm-4">
                    <div class="shadow-effect">
                        <img class="img-circle" src="/images/About/testimonials2.png" alt="">
                        <p id="testimonial-name-messege">
                            As a web designer myself, I have to say I'm impressed with the design and structure of this website. The attention to detail is apparent and the simplicity of the layout makes it a joy to use. Kudos to the team behind it!
                            </p>
                    </div>
                    <div class="testimonial-name">ANNA ITURBE</div>
                </div>
                <div class="item col-sm-4">
                    <div class="shadow-effect">
                        <img class="img-circle" src="/images/About/testimonials3.png" alt="">
                        <p id="testimonial-name-messege">
                            I wasn't sure what to expect from this website, but I was pleasantly surprised by its design and structure. It's modern, yet classic and the flow is just perfect. I especially appreciate how easy it is to find what I need, even on a smaller screen. Great job
                        </p>
                    </div>
                    <div class="testimonial-name">LARA ATKINSON</div>
                </div>
            </div>
        </div>
    </div>
</section>
@*END OF TESTIMONIALS *@

