@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@



<header class="contact_us_page_banner"></header>

<div class="container-fluid" id="main_top_single_product_page">
    <div class="container">
        <div class="row">
            <div class="col-6" id="single-product-picture">
                    <img src="/images/Catalogue/1.jpg" alt="single product page" id="single-picture" />
            </div>
            <div class="col-6" id="single-product-picture">
                <h1 id="single-product-title">Product Title</h1>
                <p id="single-product-description">This is Description</p>
                <button class="btn btn-primary" id="emotion_button">Go to Emotion Now</button>
                <div class="row">
                    <div class="col-2">
                    <h5>Tag's:  </h5>
                    </div>
                    <div class="col">
                    <p>Food</p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
