@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="wrapper">
<section id="page-title" class="page-title page-title-layout14 bg-overlay bg-overlay-2">
    <div class="bg-img"><img src="/images/Single_catalouge/3.jpg" alt="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 class="pagetitle__heading">Single Product</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Single Product</li>
                    </ol>
                </nav>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.page-title -->

    <section id="productSingle" class="shop product-single pb-0">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="product__single-img">
                        <img src="/images/Catalogue/1.jpg" class="zoomin" alt="product">
                    </div><!-- /.product-img -->
                </div><!-- /.col-lg-6 -->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h4 class="product__title">Grilled American Fillet</h4>
                    <hr class="hr-dashed mt-30 mb-30">
                    <div class="product__desc">
                        <p>
                            We’ve all been dying to know which type of magic the Gaines would bring to the café, a landmark on
                            Waco’s bustling traffic circle that closed down in February of 2016. The Fixer Upper stars’ Magnolia
                            brand, which includes the Magnolia Market, a premium interior paint line, and a quarterly home.
                        </p>
                    </div><!-- /.product-desc -->
                    <form class="product__form-wrap mb-30">
                        <div class="product__quantity d-flex">

                            <button class="btn btn__primary">add to cart</button>
                        </div><!-- /.product-quantity -->
                    </form>
                    <div class="product__meta">
                        <div class="product__meta-cat">
                            <span class="product__meta-title">Categories:</span>
                            <a href="#">Main</a>
                            <a href="#">Dinner</a>
                        </div><!-- /.product__meta-cat -->
                        <div class="product__meta-tags">
                            <span class="product__meta-title">Tags:</span>
                            <a href="#">Light</a>
                            <a href="#">Mexican</a>
                            <a href="#">Organic</a>
                        </div><!-- /.product__meta-tags -->
                    </div><!-- /.product__meta -->
                    <hr class="hr-dashed mt-30 mb-30">
                    <div class="product__share d-flex align-items-center">
                        <h6 class="product__share-title mb-0 mr-20">share:</h6>
                        <ul class="social__icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div><!-- /.product-share -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10 offset-lg-1">
                    <div class="product__tabs mt-90">
                        <nav class="nav nav-tabs justify-content-center">
                            <a class="nav__link active" data-toggle="tab" href="#Description">Description</a>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="Description">
                                <p>
                                    The restaurant itself is literally one big giant kitchen. When we first got in there, it was all
                                    the things you can imagine—dingy, musky. But if I took you in there today, you’d be like ‘Oh! This
                                    is so clean, everything smells so great.’ Those are a few benefits of a little bit of elbow grease
                                    and hard work on the front end.” As Chip’s vision has come to fruition, he’s garnered a lot more
                                    support. We’ve all been dying to know which type of magic the Gaines would bring to the café, a
                                    landmark on Waco’s bustling traffic circle.
                                </p>
                            </div><!-- /.desc-tab -->
                        </div>
                    </div><!-- /.product-tabs -->
                </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.product single -->


</div>
