@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model FoodForThrought.Models.AddingProductModel


<div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <span class='zoom' id='ex1'>
                <img id="single_product_image" src="@Url.Content("~/images/Product_image/" + Model.product_image_name)" class="img-fluid img-zoom" alt="Product Image">
            </span>
        </div>
        <div class="col-md-6" id="title_side">
            <h2>@Model.product_title</h2>
            <p>@Model.product_desription</p>

            <div class="my-3">
                <a asp-controller="Home" asp-action="Detectemotion" class="btn btn__primary btn__hover2">Detect Emotion</a>
            </div>
           <div class="my-4">
                <!-- Add your icons here. For instance, using Font Awesome icons -->
                <h5>
                    Social Media
                </h5>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                </li>
                <!-- Additional Icons -->
            </div>
        </div>
    </div>   
</div>
